.idea
.pytest_cache
.vscode/settings.json
build
dist
supertokens_python.egg-info
__pycache__
releasePassword
apiPassword
venv/
./env/
.env
.DS_Store
bin/
lib/
pyvenv.cfg
sqlite.db
.mypy_cache/
test-results/
.ruff_cache/
