services:
  core:
    # Uses `$SUPERTOKENS_CORE_VERSION` when available, else latest
    image: teamsupertokens/supertokens-core:dev-branch-${SUPERTOKENS_CORE_VERSION:-master}
    ports:
      # Uses `$SUPERTOKENS_CORE_PORT` when available, else 3567 for local port
      - ${SUPERTOKENS_CORE_PORT:-3567}:3567
    platform: linux/amd64
    healthcheck:
      test: bash -c 'curl -s "http://127.0.0.1:3567/hello" | grep "Hello"'
      interval: 10s
      timeout: 5s
      retries: 5
