black==25.11.0
Django==5.2.7
django-cors-headers==4.9.0
django-stubs==5.2.7
django-stubs-ext==5.2.7
fastapi==0.120.2
Flask==3.1.2
flask-cors==6.0.1
nest-asyncio==1.6.0
pdoc3==0.11.6
pre-commit==4.3.0
pyfakefs==5.10.1
pylint==4.0.2
pyright==1.1.407
python-dotenv==1.2.1
pytest==8.4.2
pytest-asyncio==1.2.0
pytest-mock==3.15.1
pytest-rerunfailures==16.1
pyyaml==6.0.3
requests-mock==1.12.1
respx>=0.13.0, <1.0.0
uvicorn==0.38.0
wasmtime==38.0.0
litestar==2.18.0
-e .
