black==24.8.0
Django==4.2.6
django-cors-headers==4.4.0
django-stubs==4.2.7
django-stubs-ext==4.2.7
fastapi==0.115.5
Flask==3.0.3
flask-cors==5.0.0
nest-asyncio==1.6.0
pdoc3==0.11.0
pre-commit==3.5.0
pyfakefs==5.7.4
pylint==3.2.7
pyright==1.1.393
python-dotenv==1.0.1
pytest==8.3.3
pytest-asyncio==0.24.0
pytest-mock==3.14.0
pytest-rerunfailures==14.0
pyyaml==6.0.2
requests-mock==1.12.1
respx>=0.13.0, <1.0.0
uvicorn==0.32.0
wasmtime==25.0.0
-e .
