version: 2.1

orbs:
  continuation: circleci/continuation@0.1.2
  slack: circleci/slack@3.4.2
  jq: circleci/jq@2.2.0
jobs:
  test-dev-tag-as-not-passed:
    docker:
      - image: rishabhpoddar/supertokens_python_driver_testing
    steps:
      - checkout
      - run: (cd .circleci/ && ./markDevTagAsTestNotPassed.sh)
  test-unit:
    docker:
      - image: rishabhpoddar/supertokens_python_driver_testing
    resource_class: large
    steps:
      - checkout
      - run: update-alternatives --install "/usr/bin/java" "java" "/usr/java/jdk-15.0.1/bin/java" 2
      - run: update-alternatives --install "/usr/bin/javac" "javac" "/usr/java/jdk-15.0.1/bin/javac" 2
      - run: echo "127.0.0.1 localhost.org" >> /etc/hosts
      - run: make dev-install
      - run: (cd .circleci/ && ./doUnitTests.sh)
      - slack/status
  test-website-fastapi:
    docker:
      - image: rishabhpoddar/supertokens_python_driver_testing
    resource_class: large
    steps:
      - checkout
      - run: update-alternatives --install "/usr/bin/java" "java" "/usr/java/jdk-15.0.1/bin/java" 2
      - run: update-alternatives --install "/usr/bin/javac" "javac" "/usr/java/jdk-15.0.1/bin/javac" 2
      - run: git config --global url."https://github.com/".insteadOf ssh://git@github.com/
      - run: echo "127.0.0.1 localhost.org" >> /etc/hosts
      - run: make with-fastapi
      - run: (cd .circleci/ && ./websiteFastApi.sh)
      - slack/status
  test-website-flask:
    docker:
      - image: rishabhpoddar/supertokens_python_driver_testing
    resource_class: large
    steps:
      - checkout
      - run: update-alternatives --install "/usr/bin/java" "java" "/usr/java/jdk-15.0.1/bin/java" 2
      - run: update-alternatives --install "/usr/bin/javac" "javac" "/usr/java/jdk-15.0.1/bin/javac" 2
      - run: git config --global url."https://github.com/".insteadOf ssh://git@github.com/
      - run: echo "127.0.0.1 localhost.org" >> /etc/hosts
      - run: make with-flask
      - run: (cd .circleci/ && ./websiteFlask.sh)
      - slack/status
  test-website-django:
    docker:
      - image: rishabhpoddar/supertokens_python_driver_testing
    resource_class: large
    steps:
      - checkout
      - run: update-alternatives --install "/usr/bin/java" "java" "/usr/java/jdk-15.0.1/bin/java" 2
      - run: update-alternatives --install "/usr/bin/javac" "javac" "/usr/java/jdk-15.0.1/bin/javac" 2
      - run: git config --global url."https://github.com/".insteadOf ssh://git@github.com/
      - run: echo "127.0.0.1 localhost.org" >> /etc/hosts
      - run: make with-django
      - run: (cd .circleci/ && ./websiteDjango.sh)
      - slack/status
  test-website-django2x:
    docker:
      - image: rishabhpoddar/supertokens_python_driver_testing
    resource_class: large
    steps:
      - checkout
      - run: update-alternatives --install "/usr/bin/java" "java" "/usr/java/jdk-15.0.1/bin/java" 2
      - run: update-alternatives --install "/usr/bin/javac" "javac" "/usr/java/jdk-15.0.1/bin/javac" 2
      - run: git config --global url."https://github.com/".insteadOf ssh://git@github.com/
      - run: echo "127.0.0.1 localhost.org" >> /etc/hosts
      - run: make with-django2x
      - run: (cd .circleci/ && ./websiteDjango2x.sh)
      - slack/status
  test-authreact-fastapi:
    docker:
      - image: rishabhpoddar/supertokens_python_driver_testing
    environment:
      MOCHA_FILE: ../supertokens-auth-react/test_report/report_node-<< parameters.fdi-version >>.xml
    parameters:
      fdi-version:
        type: string
    parallelism: 4
    steps:
      - checkout
      - attach_workspace:
          at: /
      - run: update-alternatives --install "/usr/bin/java" "java" "/usr/java/jdk-15.0.1/bin/java" 2
      - run: update-alternatives --install "/usr/bin/javac" "javac" "/usr/java/jdk-15.0.1/bin/javac" 2
      - run: git config --global url."https://github.com/".insteadOf ssh://git@github.com/
      - run: n 16
      - run: node --version
      - run: echo "127.0.0.1 localhost.org" >> /etc/hosts
      - run: make with-fastapi
      - run: (cd .circleci && ./authReactFastApi.sh << parameters.fdi-version >>)
      - run: ls -la ../supertokens-auth-react/test_report || true
      - store_test_results:
          path: ../supertokens-auth-react/test_report/report_node-<< parameters.fdi-version >>.xml
      - store_artifacts:
          path: ../supertokens-auth-react/test_report/screenshots
          destination: failed-test-screenshots
      - store_artifacts:
          path: ../supertokens-auth-react/test_report/logs
          destination: logfiles
  test-authreact-flask:
    docker:
      - image: rishabhpoddar/supertokens_python_driver_testing
    resource_class: large
    environment:
      MOCHA_FILE: ../supertokens-auth-react/test_report/report_node-<< parameters.fdi-version >>.xml
    parameters:
      fdi-version:
        type: string
    parallelism: 4
    steps:
      - checkout
      - attach_workspace:
          at: /
      - run: update-alternatives --install "/usr/bin/java" "java" "/usr/java/jdk-15.0.1/bin/java" 2
      - run: update-alternatives --install "/usr/bin/javac" "javac" "/usr/java/jdk-15.0.1/bin/javac" 2
      - run: git config --global url."https://github.com/".insteadOf ssh://git@github.com/
      - run: n 16
      - run: node --version
      - run: echo "127.0.0.1 localhost.org" >> /etc/hosts
      - run: make with-flask
      - run: (cd .circleci && ./authReactFlask.sh << parameters.fdi-version >>)
      - run: ls -la ../supertokens-auth-react/test_report || true
      - store_test_results:
          path: ../supertokens-auth-react/test_report/report_node-<< parameters.fdi-version >>.xml
      - store_artifacts:
          path: ../supertokens-auth-react/test_report/screenshots
          destination: failed-test-screenshots
      - store_artifacts:
          path: ../supertokens-auth-react/test_report/logs
          destination: logfiles
  test-authreact-django:
    docker:
      - image: rishabhpoddar/supertokens_python_driver_testing
    resource_class: large
    environment:
      MOCHA_FILE: ../supertokens-auth-react/test_report/report_node-<< parameters.fdi-version >>.xml
    parameters:
      fdi-version:
        type: string
    parallelism: 4
    steps:
      - checkout
      - attach_workspace:
          at: /
      - run: update-alternatives --install "/usr/bin/java" "java" "/usr/java/jdk-15.0.1/bin/java" 2
      - run: update-alternatives --install "/usr/bin/javac" "javac" "/usr/java/jdk-15.0.1/bin/javac" 2
      - run: git config --global url."https://github.com/".insteadOf ssh://git@github.com/
      - run: n 16
      - run: node --version
      - run: echo "127.0.0.1 localhost.org" >> /etc/hosts
      - run: make with-django
      - run: (cd .circleci && ./authReactDjango.sh << parameters.fdi-version >>)
      - run: ls -la ../supertokens-auth-react/test_report || true
      - store_test_results:
          path: ../supertokens-auth-react/test_report/report_node-<< parameters.fdi-version >>.xml
      - store_artifacts:
          path: ../supertokens-auth-react/test_report/screenshots
          destination: failed-test-screenshots
      - store_artifacts:
          path: ../supertokens-auth-react/test_report/logs
          destination: logfiles
  test-success:
    docker:
      - image: rishabhpoddar/supertokens_python_driver_testing
    steps:
      - checkout
      - run: (cd .circleci/ && ./markAsSuccess.sh)
      - slack/status

workflows:
  version: 2
  tagged-build:
    jobs:
      - test-dev-tag-as-not-passed:
          filters:
            tags:
              only: /dev-v[0-9]+(\.[0-9]+)*/
            branches:
              ignore: /.*/
      - test-unit:
          requires:
            - test-dev-tag-as-not-passed
          context:
            - slack-notification
          filters:
            tags:
              only: /dev-v[0-9]+(\.[0-9]+)*/
            branches:
              ignore: /.*/
      - test-website-fastapi:
          requires:
            - test-dev-tag-as-not-passed
          context:
            - slack-notification
          filters:
            tags:
              only: /dev-v[0-9]+(\.[0-9]+)*/
            branches:
              ignore: /.*/
      - test-website-flask:
          requires:
            - test-dev-tag-as-not-passed
          context:
            - slack-notification
          filters:
            tags:
              only: /dev-v[0-9]+(\.[0-9]+)*/
            branches:
              ignore: /.*/
      - test-website-django:
          requires:
            - test-dev-tag-as-not-passed
          context:
            - slack-notification
          filters:
            tags:
              only: /dev-v[0-9]+(\.[0-9]+)*/
            branches:
              ignore: /.*/
      - test-website-django2x:
          requires:
            - test-dev-tag-as-not-passed
          context:
            - slack-notification
          filters:
            tags:
              only: /dev-v[0-9]+(\.[0-9]+)*/
            branches:
              ignore: /.*/
      - test-authreact-fastapi:
          requires:
            - test-dev-tag-as-not-passed
          context:
            - slack-notification
          filters:
            tags:
              only: /dev-v[0-9]+(\.[0-9]+)*/
            branches:
              ignore: /.*/
          matrix:
            parameters:
              fdi-version: placeholder
      - test-authreact-flask:
          requires:
            - test-dev-tag-as-not-passed
          context:
            - slack-notification
          filters:
            tags:
              only: /dev-v[0-9]+(\.[0-9]+)*/
            branches:
              ignore: /.*/
          matrix:
            parameters:
              fdi-version: placeholder
      - test-authreact-django:
          requires:
            - test-dev-tag-as-not-passed
          context:
            - slack-notification
          filters:
            tags:
              only: /dev-v[0-9]+(\.[0-9]+)*/
            branches:
              ignore: /.*/
          matrix:
            parameters:
              fdi-version: placeholder
      - test-success:
          requires:
            - test-unit
            - test-website-fastapi
            - test-website-flask
            - test-website-django
            - test-website-django2x
            - test-authreact-fastapi
            - test-authreact-flask
            - test-authreact-django
          context:
            - slack-notification
          filters:
            tags:
              only: /dev-v[0-9]+(\.[0-9]+)*/
            branches:
              ignore: /.*/