version: 2.1
orbs:
  slack: circleci/slack@3.4.2
jobs:
  publish:
    docker:
      - image: circleci/python:3.7
    steps:
      - checkout
      - run: make dev-install
      - run: pip install setuptools wheel twine
      - run: python setup.py sdist bdist_wheel
      - run: twine upload -u $USERNAME -p $PASSWORD dist/*
      - slack/status
  test:
    docker:
      - image: rishabhpoddar/supertokens_python_driver_testing
    steps:
      - checkout
      - run: add-apt-repository ppa:deadsnakes/ppa -y
      - run: apt-get update
      - run: apt-get install python3.7 -y
      - run: update-alternatives --install /usr/bin/python3 python3 /usr/bin/python3.7 1
      - run: pip3 install --upgrade pip
      - run: make dev-install
      - run: (cd .circleci/ && ./doTests.sh)
      - slack/status
workflows:
  version: 2
  tagged-build:
    jobs:
      - publish:
          context:
            - slack-notification
          filters:
            tags:
              only: /v[0-9]+(\.[0-9]+)*/
            branches:
              ignore: /.*/
      - test:
          context:
            - slack-notification
          filters:
            tags:
              only: /dev-v[0-9]+(\.[0-9]+)*/
            branches:
              ignore: /.*/