name: "Release Pipeline"

on:
  workflow_dispatch:
    inputs:
      branch:
        description: The branch to create the release tag on
        type: string
        required: true

      force:
        description: Bypass server checks for safe release of package
        type: boolean
        default: false
        required: false

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest

    outputs:
      constantsVersion: ${{ steps.versions.outputs.constantsVersion }}
      constantsVersionXy: ${{ steps.versions.outputs.constantsVersionXy }}
      setupVersion: ${{ steps.versions.outputs.setupVersion }}
      setupVersionXy: ${{ steps.versions.outputs.setupVersionXy }}
      newestVersion: ${{ steps.versions.outputs.newestVersion }}
      targetBranch: ${{ steps.versions.outputs.targetBranch }}
      devTag: ${{ steps.versions.outputs.devTag }}
      releaseTag: ${{ steps.versions.outputs.releaseTag }}

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branch }}
          fetch-tags: true
          # token: ${{ secrets.repo_PAT }}

      - name: Setup
        run: |
          make dev-install

          # NOTE: The user email is {user.id}+{user.login}@users.noreply.github.com.
          # See users API: https://api.github.com/users/github-actions%5Bbot%5D
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Populate variables
        id: versions
        run: |
          . ./hooks/populate-hook-constants.sh

          echo "constantsVersion=$constantsVersion" | tee -a "$GITHUB_OUTPUT" "$GITHUB_ENV"
          echo "constantsVersionXy=$constantsVersionXy" | tee -a "$GITHUB_OUTPUT" "$GITHUB_ENV"
          echo "setupVersion=$setupVersion" | tee -a "$GITHUB_OUTPUT" "$GITHUB_ENV"
          echo "setupVersionXy=$setupVersionXy" | tee -a "$GITHUB_OUTPUT" "$GITHUB_ENV"
          echo "newestVersion=$newestVersion" | tee -a "$GITHUB_OUTPUT" "$GITHUB_ENV"
          echo "targetBranch=$targetBranch" | tee -a "$GITHUB_OUTPUT" "$GITHUB_ENV"

          echo "devTag=dev-v$setupVersion" | tee -a "$GITHUB_OUTPUT" "$GITHUB_ENV"
          echo "releaseTag=v$setupVersion" | tee -a "$GITHUB_OUTPUT" "$GITHUB_ENV"

      - if: ${{ inputs.force == 'false' }}
        name: Check tests passed
        run: |
          testsPassed=`curl -s -X GET "https://api.supertokens.io/0/driver?password=${{ secrets.SUPERTOKENS_API_KEY }}&version=${{ steps.versions.outputs.setupVersion }}&name=python" -H 'api-version: 0'`

          if [[ echo $testsPassed | jq .testPassed != "true" ]]
          then
            echo "All tests have not passed. Exiting."
            exit 1
          fi

      - if: ${{ inputs.force == 'false' }}
        name: Check if core and frontend released
        run: |
          canReleaseSafelyResponse=`curl -s -X GET "https://api.supertokens.io/0/driver/release/check?password=${{ secrets.SUPERTOKENS_API_KEY }}&version=${{ steps.versions.outputs.setupVersion }}&name=python" -H 'api-version: 0'`

          if [[ echo $canReleaseSafelyResponse | jq .canRelease != "true" ]]
          then
            echo "Cannot release. Have you released corresponding core and frontend?"
            exit 1
          fi

      - name: Check if current commit is dev-tagged
        run: |
          currentCommit=$(git log --format="%H" -n 1)
          currentTag=`git tag -l --points-at $currentCommit`
          expectedTag="${{ steps.versions.outputs.devTag }}"

          if [[ $currentTag != $expectedTag ]]
          then
            echo "Commit does not have the correct dev tag for this release"
            echo "Current: `$currentTag`"
            echo "Expected: `$expectedTag`"
            exit 1
          fi

      - name: Mark for release
        run: |
          # curl --fail-with-body -X PUT \
          #     https://api.supertokens.io/0/driver \
          #     -H 'Content-Type: application/json' \
          #     -H 'api-version: 0' \
          #     -d "{
          #         \"password\": \"${{ secrets.SUPERTOKENS_RELEASE_API_KEY }}\",
          #         \"name\":\"python\",
          #         \"version\":\"${{ steps.versions.outputs.setupVersion }}\",
          #         \"release\": true
          #     }"`

      - name: Build docs
        run: |
          make build-docs

      - name: Commit doc changes
        run: |
          git add --all
          git commit --allow-empty -nm "doc: update docs for ${{ steps.versions.outputs.releaseTag }} tag"
          git push

      - name: Create release tag, delete dev tag
        run: |
          # Add new release tag
          git tag ${{ steps.versions.outputs.releaseTag }}
          git push --tags

          # Delete current dev tag
          git tag --delete ${{ steps.versions.outputs.devTag }}
          git push --delete origin ${{ steps.versions.outputs.devTag }}


  merge:
    runs-on: ubuntu-latest
    needs:
      - release

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branch }}
          fetch-tags: true
          # token: ${{ secrets.repo_PAT }}

      - name: Setup
        run: |
          git fetch origin master --depth 1

          # NOTE: The user email is {user.id}+{user.login}@users.noreply.github.com.
          # See users API: https://api.github.com/users/github-actions%5Bbot%5D
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Check API and merge to master
        run: |
          # response=`curl -s -X GET "https://api.supertokens.io/0/driver/latest/check?password=${{ secrets.SUPERTOKENS_API_KEY }}&version=${{ steps.versions.outputs.setupVersion }}&name=python" -H 'api-version: 0'`
          response=true

          if [[ $response == "true" ]]
          then
            git merge origin/master
            git checkout origin/master
            git merge ${{ inputs.branch }}
            git push
            git checkout ${{ inputs.branch }}
          fi

  publish:
    runs-on: ubuntu-latest
    needs:
      - release

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ needs.release.outputs.releaseTag }}
          fetch-tags: true

      - run: |
          # python3 -m pip install ip install pip setuptools packaging poetry clikit --upgrade
          # make dev-install
          # pip install setuptools wheels twine
          # python setup.py sdist bdist_wheel
          # twine upload -u ${{ secrets.RELEASE_USERNAME }} -p ${{ secrets.RELEASE_PASSWORD }} dist/*
