name: "Unit Tests"

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - labeled
      - unlabeled
  push:
    branches:
      - '[0-9]+.[0-9]+'

# Only one instance of this workflow will run on the same ref (PR/Branch/Tag)
# Previous runs will be cancelled.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  define-versions:
    if: github.event_name != 'pull_request' || contains(github.event.pull_request.labels.*.name, 'run-tests')
    runs-on: ubuntu-latest

    outputs:
      fdiVersions: ${{ steps.versions.outputs.fdiVersions }}
      cdiVersions: ${{ steps.versions.outputs.cdiVersions }}
      pyVersions: '["3.8", "3.9", "3.10", "3.11", "3.12", "3.13"]'
      coreCdiVersionMap: ${{ steps.core-versions.outputs.cdiVersions }}

    steps:
      - uses: actions/checkout@v4

      - uses: supertokens/get-supported-versions-action@main
        id: versions
        with:
          has-fdi: true
          has-cdi: true

      - uses: supertokens/actions/get-versions-from-repo@main
        id: core-versions
        with:
          repo: supertokens-core
          github-token: ${{ secrets.GITHUB_TOKEN }}
          cdi-versions: ${{steps.versions.outputs.cdiVersions }}

  test:
    if: github.event_name != 'pull_request' || contains(github.event.pull_request.labels.*.name, 'run-tests')
    runs-on: ubuntu-latest
    needs: define-versions

    strategy:
      fail-fast: false
      matrix:
        py-version: ${{ fromJSON(needs.define-versions.outputs.pyVersions) }}
        cdi-version: ${{ fromJSON(needs.define-versions.outputs.cdiVersions) }}

    steps:
      - uses: actions/checkout@v4

      - name: Get core version from current CDI version
        id: core-version
        run: |
          coreVersion=$(echo '${{ needs.define-versions.outputs.coreCdiVersionMap }}' | jq -r '.["${{ matrix.cdi-version }}"]')

          echo "coreVersion=${coreVersion}" >> $GITHUB_OUTPUT

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.py-version }}

      - name: Create virtual environment and install dependencies
        # Updrade `pip` and `setuptools` to have the latest versions before further installs
        run: |
          python3 -m venv venv
          source venv/bin/activate
          python3 -m pip install pip setuptools --upgrade
          make dev-install && rm -rf src

      - name: Run unit tests
        run: |
          source venv/bin/activate
          make test
        env:
          SUPERTOKENS_CORE_VERSION: ${{ steps.core-version.outputs.coreVersion }}

      - uses: pmeier/pytest-results-action@main
        name: Surface failing tests
        if: always()
        with:
          path: test-results/junit.xml
          summary: true
          title: "[Core=${{ steps.core-version.outputs.coreVersion }}][py=${{ matrix.py-version }}] Unit Test Results"
